* {
    margin: 0px;
}

body {
    width: 500px;

    height: 100px;
    /*リョウガだよ*/
    background-image: url(https://4.bp.blogspot.com/-L-oUiflcmD8/VvXe7bOhc3I/AAAAAAAA5KE/YlzixMhJl-UdBETW5PstRAAfqqNyH84QQ/w1200-h630-p-k-no-nu/fish_maguro2.png);

    background-size: 300px 150px;
}

.header {
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, rgb(240, 180, 50), rgb(100, 200, 50));
}


/* shita追加分始まり */
.searchWindow {
    margin-left: 10px;
}

.searchTitle {
    padding: 0px;
}

#inputSearch {
    font-size: default;
    text-align: start;
    width: calc(90% - 50px);
    height: 16px;
    resize: none;
}

.result_select {
    margin-top: 2px;
    width: 90%;
}


.tabdelete{
    padding-left:10px;
    padding-top:3px;
}

.deletetabs_button{
    margin-left:10px;
}

/* shita追加分終わり */


#title {
    text-align: center;
}

.h2_tabNum {
    text-align: center;
}

.h3_title_url {
    padding: 10px;
}

.textarea {
    width: 100%;
    height: 150px;
    text-align: center;
    padding-bottom: 6px;
}

#txt {
    width: 90%;
    height: 100%;
}

.copy {
    text-align: right;
    padding: 10px;
}

.h3_maxTabNum {
    padding: 0px 0px 0px 10px;
}

.group {
    width: fit-content;
    max-width: 90%;
    margin: 10px;
}

#domains>ul {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border: solid gray;
}

#domains>ul:hover {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border: solid gray;
    cursor: pointer;
}

.tabList {
    width: fit-content;
    max-width: 90%;
    margin: 10px;
}

#domains>ul {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border: solid gray;
}

#domains>ul:hover {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border: solid gray;
    cursor: pointer;
}

#domains>ul>li {
    background-color: rgb(230, 230, 230);
    margin-left: 15px;
}

#domains>ul>li:hover {
    background-color: rgb(210, 210, 210);
    margin-left: 15px;
    cursor: pointer;
}
#tabGroup{
    margin: 10px;
}
/*リョウガだよ*/
#copyButton {
    background: rgb(50, 150, 200);
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #040000;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
    border-left: solid 5px #0000004f;
}
#copyButton:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #6bb6ff;
    transition: .3s;
    left:0;
}
#copyButton:hover {
    color: rgb(0, 0, 0);
}

#copyButton:hover:before {
    width: 100%;
    z-index: -1;
}
/*りょうが終了*/
