* {
    margin: 0px;
}

body {
    width: 500px;
    height: 100px;
}

.header {
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, rgb(240, 180, 50), rgb(100, 200, 50));
}


/* shita追加分始まり */
.searchWindow {
    margin-left: 10px;
}

.searchTitle {
    padding: 0px;
}

#inputSearch {
    font-size: default;
    text-align: start;
    width: calc(90% - 50px);
    height: 16px;
    resize: none;
}

.result_select {
    margin-top: 2px;
    width: 90%;
}


.tabdelete{
    padding-left:10px;
    padding-top:3px;
}

.deletetabs_button{
    margin-left:10px;
}

/* shita追加分終わり */


#title {
    text-align: center;
}

.h2_tabNum {
    text-align: center;
}

.h3_title_url {
    padding: 10px;
}

.textarea {
    width: 100%;
    height: 250px;
    text-align: center;
    padding-bottom: 6px;
}

#txt {
    width: 90%;
    height: 100%;
}

.copy {
    text-align: right;
    padding: 10px;
}

.h3_maxTabNum {
    padding: 0px 0px 0px 10px;
}

.group {
    width: fit-content;
    max-width: 90%;
    margin: 10px;
}

#domains>ul {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border: solid gray;
}

#domains>ul:hover {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border: solid gray;
    cursor: pointer;
}

.group {
    width: fit-content;
    max-width: 90%;
    margin: 10px;
}

#domains>ul {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border: solid gray;
}

#domains>ul:hover {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border: solid gray;
    cursor: pointer;
}

#domains>ul>li {
    background-color: rgb(230, 230, 230);
    margin-left: 15px;
}

#domains>ul>li:hover {
    background-color: rgb(210, 210, 210);
    margin-left: 15px;
    cursor: pointer;
}