* {
    margin: 0px;
}

body {
    width: 400px;
    background: linear-gradient(#05FBFF, #1D62F0) fixed;
}

header {
    text-align: center;
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, rgb(240, 180, 50), rgb(100, 200, 50));
}

header>* {
    display: inline;
    width: fit-content;
}

.main {
    /*リョウガだよ*/
    background-size: 300px 150px;
    background-image: url(https://4.bp.blogspot.com/-L-oUiflcmD8/VvXe7bOhc3I/AAAAAAAA5KE/YlzixMhJl-UdBETW5PstRAAfqqNyH84QQ/w1200-h630-p-k-no-nu/fish_maguro2.png);
}

/*.main>* {
    border: solid;
}*/

footer {
    text-align: center;
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, rgb(240, 180, 50), rgb(100, 200, 50));
}

footer>* {
    display: inline-flex;
    margin-top: 2px;
    margin-left: 30px;
}

/* shita追加分始まり */
.searchWindow {
    margin-left: 10px;
}

.searchTitle {
    padding: 0px;
}

#inputSearch {
    font-size: default;
    text-align: start;
    width: calc(90% - 50px);
    height: 16px;
    resize: none;
}

.result_select {
    margin-top: 2px;
    width: 90%;
}

/*.tabdelete {
    padding: 10px;
}*/

.deletetabs_button {
    margin-left: 10px;
}

/* shita追加分終わり */

.h3_title_url {
    padding-left: 5px;
    padding-top: 5px;
}

.textarea {
    width: 100%;
    height: 150px;
    text-align: center;
}

#txt {
    width: 90%;
    height: 100%;
}

.copyButton {
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
}

.maxTab {
    padding: 5px;
    text-align: center;
}

.maxTab>* {
    display: inline;
    width: fit-content;
    margin-right: 20px;
}

#maxTabNum {
    width: 50px;
}

/*タブリスト --fuma*/
.tabList {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    margin: 0;
    width: fit-content;
    max-width: 90%;
}

.tabList>* {
    width: fit-content;
}

#domains {
    position: absolute;
    right: 0;
    margin: 0;
}

#domains>ul {
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border: solid gray;
}

#domains>ul:hover {
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border: solid gray;
    cursor: pointer;
}

#domains>ul {
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border: solid gray;
}

#domains>ul:hover {
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border: solid gray;
    cursor: pointer;
}

#domains>ul>li {
    margin-left: 15px;
    background-color: rgb(230, 230, 230);
}

#domains>ul>li:hover {
    margin-left: 15px;
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

/*タブリスト終了 --fuma*/

/*リョウガだよ*/
#copyButton {
    background: rgb(50, 150, 200);
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    color: #040000;
    transition: 0.3s ease-in-out;
    z-index: 0;
    border-left: solid 5px #0000004f;
}

#copyButton:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #6bb6ff;
    transition: .3s;
    left: 0;
}

#copyButton:hover {
    color: rgb(0, 0, 0);
}

#copyButton:hover:before {
    width: 100%;
    z-index: -1;
}

/*りょうが終了*/