* {margin: 0px;}
body {
    width: 500px;
    height: 300px;
}
.header {
    width: 100%;
    height: 30px;
    background: linear-gradient(135deg, rgb(240, 180, 50), rgb(100, 200, 50));
}
#title {
    text-align: center;
}
.num {text-align: center;}
#h3txt {
    padding: 10px;
}
.txt {
    width: 100%;
    height: 250px;
    text-align: center;
    padding-bottom: 6px;
}
#txt {
    width: 90%;
    height: 100%;
}
.copy {
    text-align: right;
    padding: 10px;
}
.maxNum {
    padding: 10px;
}